div.main
  div.section
    div.content.top(style="padding-top: 1em;")
      #mainslider
        for row in rows[0]
          div
            img(style="height: 850px" src="/images/icci/"+row.id+"/"+row.image title="")


            div.maincaption
                h3= S(row.title).stripTags().truncate(70).s
                div.content= S(row.body).stripTags().truncate(210).s

                div.meta
                    span(style="float:right;")
                        i.icon.write
                        span= row.day + '/' + row.month + '/' + row.year
                    span(style="float:left;margin-right:5px;")
                        i.icon.mouse.pointer
                        span= S('http://islamireland.ie/news/' + row.name).truncate(90).s
