doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/milligram.min.css')
    link(rel='stylesheet', href='/css/css3clock.css')
    //- link(rel='stylesheet', href='/css/roboto.css')
    link(rel='stylesheet', href='/css/open-sans.css')
    //- link(rel='stylesheet', href='/css/open-sans-condensed.css')

    link(rel='stylesheet', href='/css/changa.css')


    link(rel='stylesheet', href='/css/style.css')
  body(style="overflow: hidden;")
    block content