doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/semantic.min.css')
    link(rel='stylesheet', href='/css/roboto.css')
    link(rel='stylesheet', href='/css/changa.css')
    link(rel='stylesheet', href='/css/icon.css')
    link(rel='stylesheet' href='/css/jquery.bxslider.css')
    link(rel='stylesheet', href='/css/style.css')
  body(style="overflow: hidden;")
    block content